@{
    ViewData["Title"] = "Add Level Three";
}
@using Learn.Models
@model FractionCard[]

<div class="container">
    <h6 class="text-center instructions mt-4">Add the fractions together. Tap to flip the card and see the solution.</h6>
    <div class="row justify-content-center">
        @foreach(var item in Model){
            <div class="cardContainer">
                <div class="flashCard">
                    <div class="front">
                        @* <p>@item.Whole</p> *@
                        <p class="fractionAdd">@item.First</p>
                        <p class="mx-3" style="font-size:42px">+</p>
                        @* <p>@item.WholeTwo</p> *@
                        <p class="fractionAdd">@item.Second</p>
                    </div>
                    <div class="back mb-5">
                        <span class="fractionAdd">
                            @item.Answer
                        </span>
                    </div>
                    @* <div style="font-size:16px" class="back my-5">Decimal: 1.333</div> *@
                </div>
            </div>
        }
    </div>
</div>