@{
    ViewData["Title"] = "Level One";
}

<div class="container">
    <div class="row justify-content-center mt-5">

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard facebook" >
                    <div class="front">
                        <p>@ViewBag.Operand[0]</p>
                        <p class="mx-3">รท</p>
                        <p>@ViewBag.Operand[1]</p>
                    </div>
                    <div class="back mb-5">@ViewBag.FractionAnswer[0]</div>
                    <div style="font-size:16px" class="back my-5">Decimal: @ViewBag.DecimalAnswer[0]</div>
                    @* <div class="back mt-5">Reduced: @ViewBag.ReducedFractionAnswer[0]</div> *@
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard twitter" >
                    <div class="front"><i class="fab fa-twitter" aria-hidden="true"></i></div>
                    <div class="back">Twitter</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard googleplus" >
                    <div class="front"><i class="fab fa-google-plus" aria-hidden="true"></i></div>
                    <div class="back">Google+</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard reddit" >
                    <div class="front"><i class="fab fa-reddit" aria-hidden="true"></i></div>
                    <div class="back">Reddit</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard spotify" >
                    <div class="front"><i class="fab fa-spotify" aria-hidden="true"></i></div>
                    <div class="back">Spotify</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard camera" >
                    <div class="front"><i class="fa fa-camera" aria-hidden="true"></i></div>
                    <div class="back">Camera</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard sync" >
                    <div class="front"><i class="fas fa-sync" aria-hidden="true"></i></div>
                    <div class="back">Sync</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard amazon" >
                    <div class="front"><i class="fab fa-amazon" aria-hidden="true"></i></div>
                    <div class="back">Amazon</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard xray" >
                    <div class="front"><i class="fas fa-x-ray" aria-hidden="true"></i></div>
                    <div class="back">X-ray</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard nurse" >
                    <div class="front"><i class="fas fa-user-nurse" aria-hidden="true"></i></div>
                    <div class="back">Nurse user</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard syringe" >
                    <div class="front"><i class="fas fa-syringe" aria-hidden="true"></i></div>
                    <div class="back">Syringe</div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="cardContainer">
                <div class="flashCard heartbeat" >
                    <div class="front"><i class="fas fa-heartbeat" aria-hidden="true"></i></div>
                    <div class="back">Heartbeat</div>
                </div>
            </div>
        </div>
    </div>
</div>


